.counter {
	font-size: 2rem;
	color: var(--text);
	opacity: 0.8;
	font-style: italic;
	strong {
		font-size: 4rem;
		color: var(--point);
	}
	span {
		color: rgba(var(--textCode), 0.6);
		margin-left: 20px;
		font-size: inherit;
	}
}

@media screen and (max-width: $tabletS) {
	.counter {
		transform: scale(0.8);
		transform-origin: right top;
	}
}

@media screen and (max-width: $mobile) {
	.counter {
		transform: scale(0.5);
	}
}
