.findRecipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	.controller {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		.category {
			margin: 40px 0 20px;
		}
		.search {
			position: relative;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-content: center;
			input {
				width: 80px;
			}
			button {
				position: absolute;
				top: 50%;
				right: 0;
				font-size: 1rem;
				transform: translateY(-50%);
			}
		}
	}
	> h1 {
		width: 100%;
	}
	> h2 {
		width: 100%;
		margin-bottom: 50px;
	}
	.foodItems {
		width: 30%;
		margin-bottom: 120px;
	}
}

@media screen and (max-width: $tabletB) {
	.findRecipe {
		.foodItems {
			width: 30%;
		}
	}
}

@media screen and (max-width: $tabletS) {
	.findRecipe {
		.foodItems {
			width: 47%;
		}
	}
}

@media screen and (max-width: $mobile) {
	.findRecipe {
		.foodItems {
			width: 100%;
		}
	}
}
