.findRecipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	> h1 {
		width: 100%;
	}
	> h2 {
		width: 100%;
		margin-bottom: 50px;
	}
	.category {
		width: 100%;
		margin: 40px 0 20px;
	}
	.foodItems {
		width: 30%;
		margin-bottom: 120px;
	}
}

@media screen and (max-width: $tabletB) {
	.findRecipe {
		.foodItems {
			width: 30%;
		}
	}
}

@media screen and (max-width: $tabletS) {
	.findRecipe {
		.foodItems {
			width: 47%;
		}
	}
}

@media screen and (max-width: $mobile) {
	.findRecipe {
		.foodItems {
			width: 100%;
		}
	}
}
